<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="expo.modules.notificationswallet">

  <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

  <application>
    <service
      android:name=".WalletNotificationListener"
      android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
      android:exported="true">
      <intent-filter>
        <action android:name="android.service.notification.NotificationListenerService" />
      </intent-filter>
    </service>
  </application>
</manifest>
